[run]
source = src
data_file = .coverage/.coverage
branch = True
omit = 
    */site-packages/*
    */tests/*
    */.venv/*
    */__init__.py

[html]
directory = .coverage/html

[xml]
output = .coverage/coverage.xml

[report]
fail_under = 80
show_missing = True
exclude_lines =
    if __name__ == "__main__":
